[submodule "themes/simple-dark"]
	path = themes/simple-dark
	url = https://github.com/MichaelSchaecher/simple-dark.git
[submodule "themes/hugo-paper"]
	path = themes/hugo-paper
	url = https://github.com/nanxiaobei/hugo-paper.git
