<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col">
        <div class="social-links">
          {%- include svg_symbol.html key="twitter" -%}
          {%- include svg_symbol.html key="github" -%}
          {%- include svg_symbol.html key="orcid" -%}
          {%- include svg_symbol.html key="linkedin" -%}
          {%- include svg_symbol.html key="bluesky" -%}
          {%- include svg_symbol.html key="google-scholar" -%}
          {%- include social.html -%}
        </div>
      </div>
    </div>
  </div>
</footer>
